LKDS_TOKEN_URL=https://sso.lkds.alabuga.ru/realms/KIS/protocol/openid-connect/token
LKDS_USERNAME=admin
LKDS_PASSWORD=admin
LKDS_CLIENT_ID=postman
LKDS_CLIENT_SECRET=l41I5Xtlos4EuhVOsD0stIR0upZYlDB0
LKDS_SCOPE=
